<!--@subject Out of Stock Notification Mail @-->

<style type="text/css">
    body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
</style>
<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
    <table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
        <tr>
            <td valign="top" width="20%">
                Product Name: {{var product_name}}
            </td>            
        </tr>
        <tr>
            <td valign="top">
                <a href="{{var product_url }}" target="_blank">{{var product_name}}</a> is out of stock				
            </td>
        </tr>
    </table>
</div>